# Projeto 3
### Análise de dados demográficos

___
#### <font color='red'>Leonardo Lamounier Grotti e Patrick Serrano Wiegerinck</font>

## Introdução

A variável resposta escolhida foi expectativa de vida, que foi relacionada com o PIB per capita e com a porcentagem de população em áreas urbanas, variáveis explicativas.   

Ao relacionar o PIB com a expectativa de vida, nosso objetivo era ver se havia alguma relação entre a situação financeira de um país com a expectativa de vida de sua população. Com a ajuda do site gapminder.org pudemos perceber que conforme o PIB de um país aumentava a sua expectativa de vida crescia também provando a existência de uma correlação. Além disso essas variáveis

In [1]:
%matplotlib inline

import os
import matplotlib.pyplot as plt
from mpl_toolkits.mplot3d import Axes3D
from matplotlib import cm
import pandas as pd
import numpy as np

import statsmodels.api as sm1 #Usa OLS com X como matriz de planejamento
import statsmodels.formula.api as sm  #Usa OLS como no R

print('Esperamos trabalhar no diretório')
print(os.getcwd())

Esperamos trabalhar no diretório
C:\Users\Patrick Wiegerinck\Documents\2 Semestre\Ciência dos Dados\Projeto_3_CD

In [2]:
dados = pd.read_excel('Geral.xlsx',index_col=0)

In [3]:
dados.head()

             life    urban    GDP
NaN           NaN      NaN    NaN
Afghanistan  52.4  22.4248   1298
NaN           NaN      NaN    NaN
Albania      76.6  49.0112   7977
Algeria      75.3  68.8230  12289

In [4]:
dados.shape

(260, 3)

In [5]:
#Retirar NaN
dados=dados[~np.isnan(dados.life)]
dados=dados[~np.isnan(dados.urban)]
dados=dados[~np.isnan(dados.GDP)]
dados.shape

(193, 3)

In [6]:
dados.head()

             life    urban    GDP
Afghanistan  52.4  22.4248   1298
Albania      76.6  49.0112   7977
Algeria      75.3  68.8230  12289
Andorra      84.5  89.3038  43442
Angola       56.2  55.7174   6453